@use "/src/styles/Mixin.scss" as *;

.item {
  text-decoration: none;
  position: relative;
  margin: 0 10px 20px 10px;
  height: 390px;
  border: 1px solid hsla(0, 0%, 100%, 0.04);
  border-radius: 20px;
  background-color: #262323;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.06);
  }
  .itemImage {
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 220px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .itemTitle {
    margin-top: 5px;
    margin-left: 2px;
    color: #ffffff;
    margin-bottom: 6px;
    @include text-styles(24px, 600, 0);
    line-height: 24px;
  }

  .itemDescription {
    .itemWeight {
      color: red;
    }
    span {
      @include text-styles(13px, 500, 0);
      margin: 19px 0 0 3px;
      color: gray;
    }
  }

  .priceContainer {
    cursor: pointer;
    padding: 32px 0;
    border-radius: 32px;

    h2 {
      @include centering;
    }

    .itemPrice {
      @include price-incart;
      @include text-styles(18px, 600, 0);
      opacity: 1;
      bottom: 9%;
      left: 50%;
      transform: translate(-50%);
      h2 {
        text-align: center;
        width: 100%;
      }
    }

    .addToCart {
      @include price-incart;
      @include text-styles(16px, 500, 0);
      opacity: 0;
      @include plb(24.75, 30px);
      transition: opacity 0.3s ease;
    }

    .inCart {
      @include price-incart;
      @include text-styles(16px, 400, 0);
      opacity: 1;
      @include border-styles;
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 1%;
      bottom: 7%;
      img {
        height: 24px;
        width: 24px;
      }

      span {
        font-weight: 600;
      }
    }

    &:hover {
      .itemPrice {
        opacity: 0;
      }

      .addToCart {
        opacity: 1;
        bottom: 4.8%;
        @include border-styles;
      }
    }
  }
}
@media (max-width: 768px) {
  .item {
    height: auto;
  }

  .itemImage {
    height: 200px;
  }
  .priceContainer {
    margin: 20px auto;
  }
}

@media (max-width: 692px) {
  .item {
    width: 350px;
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  .item {
    width: 95%;
  }
  .itemImage {
    height: 170px;
  }
}
