@use "/src/styles/Mixin.scss" as *;

.main {
  text-align: center;
  font-family: "Montserrat", serif;
  border: 1px solid hsla(0, 0%, 100%, 0.04);
  padding-top: 30px;

  .filterForm {
    display: flex;
    justify-content: center;
    gap: 100px;

    .searchInput {
      @include field;
    }

    .searchSelect {
      @include field;
    }
  }
}

.containerCustom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  @media (max-width: 1300px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 1200px) {
    grid-template-columns: repeat(2, 50%);
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
  padding-bottom: 50px;
}
