@use "/src/styles/Mixin.scss" as *;

.page {
  max-width: 1200px;
  margin: 60px auto;
  padding: 40px 20px 40px 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;

  color: white;

  @media (max-width: 900px) {
    flex-direction: column;
    text-align: center;
  }
}

.imageWrapper {
  flex: 0 0 380px;

  img {
    @include wh(100%,auto);
    object-fit: contain;
    border-radius: 20px;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 20px 0;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.13);
  border-top: 1px solid hsla(0, 0%, 100%, 0.13);
  .summary {
    display: flex;
    align-items: center;
    .summaryPrice {
      font-size: 30px;
      font-weight: 600;
      margin: 0 20px 0 8px;
    }
    .summaryWeight {
      color: #aaa;
      font-size: 20px;
      padding-top: 4px;
    }
  }
  .quantityInCart {
    font-size: 30px;
  }
  .buttons {
    display: flex;
    .quantity {
      display: flex;
      gap: 10px;
      align-items: center;
      border: 1px solid hsla(0, 0%, 100%, 0.13);
      border-radius: 12px;

      .quantityBtn {
        width: 50px;
        background: #1a1a1a;
        color: white;
        border: none;
        font-size: 25px;
        font-weight: 700;
        cursor: pointer;
      }

      span {
        font-size: 18px;
        font-weight: 600;
        color: white;
        min-width: 24px;
        text-align: center;
      }
    }
    .inCartBtn {
      background: #2b2b2b;
      border: 1px solid #3a3a3a;
      @include souceBth;
    }
    .addToCartBtn {
      background: #ff2e2e;
      @include souceBth;

      &:hover {
        background: #ff4646;
        box-shadow: 0 4px 12px rgba(255, 50, 50, 0.3);
      }
    }
  }
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;

  h2 {
    font-size: 42px;
    font-weight: 700;
  }

  .price {
    font-size: 32px;
    font-weight: 600;
    color: #ff4444;
  }

  .weight {
    font-size: 18px;
    color: #aaa;
  }
}
