.wrapper {
  display: grid;
  grid-template-columns: 40% 60%;

  .konstructorImage{
    padding: 30px 30px;
    img{
      width: 400px;
      display: block;
      margin: 0 auto;
    }
  }

  
  .itemImage {
    img {
      border-radius: px !important;
    }
  }

  h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
}

.containerSelectedIngredients {
  margin-right: 50px;
}

/* Контейнер для інгредієнтів */
.category {
  margin-bottom: 30px;
}

.categoryTitle {
  font-size: 22px;
  margin-bottom: 12px;
  font-weight: 600;
}

/* Контейнер всіх інгредієнтів у категорії */
.items {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

/* Одна карточка інгредієнта */
.item {
  background: #222;
  padding: 12px 16px;
  border-radius: 10px;
  width: 150px;
  border: 1px solid #333;
  transition: 0.2s;
  cursor: pointer;
  position: relative;

  .itemImage {
    img {
      display: block;
      margin: 0 auto;
      width: 100px;
      height: 100px;
    }
  }

  &:hover {
    background: #2e2e2e;
    transform: scale(1.04);
  }

  /* Іконка "вибрано" */
  .statusIcon {
    position: absolute;
    top: -8px;
    right: -8px;
    z-index: 10;

    width: 24px;
    height: 24px;

    border-radius: 50%;
    background-color: #222;
    border: 1px solid #4fb045;

    background-image: url("../../assets/icons/done-img.png");
    background-size: cover;
    background-repeat: no-repeat;

    transition: 0.2s ease;
    pointer-events: auto;
    cursor: pointer;
  }

  /* Коли інгредієнт вибраний */
  &.itemSelected {
    border: 1px solid #4fb045;

    /* HOVER по вибраному елементу */
    &:hover {
      border: 1px solid #ff3b3b;

      .statusIcon {
        border: none;
        width: 25px;
        height: 25px;
        background-image: url("../../assets/icons/remove.png");
      }
    }
  }

  .name {
    font-weight: 600;
    margin-bottom: 6px;
  }

  .weight,
  .price {
    font-size: 14px;
    opacity: 0.8;
  }
}

/* Стиль вибраного інгредієнта у списку справа */
.selectedItem {
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #333;
  transition: 0.2s;
  cursor: pointer;

  .selectedName {
    display: flex;
    align-items: center;
  }

  .conteinerPrice {
    width: 300px;
    display: grid;
    grid-template-columns: 80% 20%;
    .price {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .quantity {
      width: 130px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 0 auto;
      border: 1px solid #333;
      border-radius: 10px;
      img {
        width: 14px;
        height: 14px;
        cursor: pointer;
        opacity: 0.8;
        transition: opacity 0.2s;

        &:hover {
          opacity: 1;
        }
      }

      span {
        margin: 10px;
      }
    }
  }
}
