.wrapper {
  display: flex;
  gap: 40px;
  align-items: flex-start;

  img {
    width: 350px;
    border-radius: 12px;
  }

  h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
}

/* Контейнер для інгредієнтів */
.category {
  margin-bottom: 30px;
}

.categoryTitle {
  font-size: 22px;
  margin-bottom: 12px;
  font-weight: 600;
}

/* Контейнер всіх інгредієнтів у категорії */
.items {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

/* Одна карточка інгредієнта */
.item {
  background: #222;
  padding: 12px 16px;
  border-radius: 10px;
  width: 150px;
  border: 1px solid #333;
  transition: 0.2s;
  cursor: pointer;

  &:hover {
    background: #2e2e2e;
    transform: scale(1.04);
  }

  .name {
    font-weight: 600;
    margin-bottom: 6px;
  }
  .weight,
  .price {
    font-size: 14px;
    opacity: 0.8;
  }
}
.selectedItem {
  padding: 12px 16px;
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #333;
  transition: 0.2s;
  cursor: pointer;
}

