@import "/src/styles/Mixin.scss";

.wrapper {
  width: 1280px;
  margin: 0 auto;
  position: relative;
  height: 100%;
  padding-bottom: 50px;

  .navbar {
    background-color: #1c1a1a;
    padding-top: 31px;

    .navbar-brand {
      flex-grow: 1;
    }

    .navbar-collapse {
      flex-grow: 2;
      margin-left: 139px;
      margin-top: 2px;

      .navbar-nav {
        a {
          color: #fff;
          font-weight: 400;
          font-size: 15px;
          font-family: "Montserrat", serif;

          &:nth-child(2) {
            transform: translateX(10px);
            letter-spacing: -0.5px;
          }

          &:nth-child(3) {
            transform: translateX(16px);
          }

          &:nth-child(4) {
            transform: translateX(27px);
          }
        }
      }
    }

    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23FFFFFF' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }
  }
  
}
.basket {
  color: #fff;
      display: flex;
      cursor: pointer;
      flex-wrap: nowrap;
      align-items: center;
      width: 117px;
      height: 27px;
      border: 1px solid #FFFFFF;
      border-radius: 21px;
      box-sizing: border-box;
      margin-right: 13px;

}

.basket:hover {
  background: rgba(255, 255, 255, 0.08);
}

.basketQuantity {
  background-color: #D71515;
         height: 19px;
         width: 19px;
         border-radius: 50%;
         margin-left: 4px;
}

.basketQuantity{
   font-size: 12px;
   font-weight: bold;
   text-align: center
}

.basketSum {
  margin: 0 auto;
}
