.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  height: 100px;
  display: flex;
  align-items: center;
  background: #1a1a1a;
  border-bottom: 1px solid;
}

.inner {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0 20px;
}

.logo img {
  width: 260px;
  cursor: pointer;
}

.nav {
  display: flex;
  gap: 40px;

  a {
    color: white;
    font-size: 15px;
    font-family: "Montserrat", serif;
    text-decoration: none;
    transition: 0.2s;

    &:hover {
      opacity: 0.7;
    }
  }
}

.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;

  span {
    width: 25px;
    height: 3px;
    background: white;
    transition: 0.3s;
  }
}

.orderContainer {
  position: relative;
}

.basket {
  color: #fff;
  display: flex;
  align-items: center;
  width: 120px;
  height: 28px;
  border: 1px solid #fff;
  border-radius: 20px;
  cursor: pointer;
  padding-right: 10px;
}

.basketQuantity {
  background-color: #d71515;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
  margin-left: 4px;
  position: relative;
  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.basketSum {
  margin-left: auto;
  font-size: 14px;
}

@media (max-width: 768px) {
  .nav {
    position: absolute;
    top: 100px;
    right: 0;
    background: #1c1a1a;
    width: 200px;
    padding: 20px;
    flex-direction: column;
    gap: 20px;
    display: none;
  }

  .nav.navOpen {
    display: flex;
  }

  .burger {
    display: flex;
  }
}

.wrapper {
  width: 1280px;
  margin: 0 auto;
  position: relative;
  height: 100%;
  padding-bottom: 50px;
}
