@import "./Mixin.scss";

.wrapper {
   width: 1280px;
   margin: 0 auto;
   position: relative;
   height: 100%;
   padding-bottom: 50px;
   border-left: 1px solid hsla(0, 0%, 100%, .04);
   border-right: 1px solid hsla(0, 0%, 100%, .04);

   @media (max-width: 1300px) {
      width: 90%;
      margin: 0 auto;
   }

   .navbar {
      background-color: #1c1a1a;
      padding-top: 31px;

      .navbar-brand {
         flex-grow: 1;
      }

      .navbar-collapse {
         flex-grow: 2;
         margin-left: 139px;
         margin-top: 2px;

         .navbar-nav {
            a {
               color: #fff;
               font-weight: 400;
               font-size: 15px;
               font-family: "Montserrat", serif;

               &:nth-child(2) {
                  transform: translateX(10px);
                  letter-spacing: -0.5px;
               }

               &:nth-child(3) {
                  transform: translateX(16px);
               }

               &:nth-child(4) {
                  transform: translateX(27px);
               }
            }

         }
      }

      .navbar-toggler-icon {
         background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23FFFFFF' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
      }
   }


   .shop-cart {
      width: 469px;
      background-color: #1c1a1a;
      position: fixed;
      overflow-y: auto;
      z-index: 20;
      right: 0;
      top: 106px;
      height: calc(100% - 121px);
      overflow-y: auto;
      color: #FFFFFF;
      padding: 0 28px 0 29px;
      font-family: 'Avenir Next Cyr';
      padding-bottom: 167px;

      .cart-header {
         display: flex;
         margin: 31px 0px 11px 1px;

         h2 {
            font-size: 36px;
            font-weight: 500;
         }

         img {
            margin-left: 242px;
         }

         img:hover {
            cursor: pointer;
            transform: rotate(45deg);
            transition: transform 0.5s ease-in-out;
         }

      }

      .order-summary {
         background-color: #222222;
         width: 469px;
         height: 167px;
         border-radius: 31px 31px 0 0;
         position: fixed;
         bottom: 0;
         right: 0;
         font-family: 'Avenir Next Cyr';
         font-size: 18px;
         font-weight: 600;

         .order-summary__button {
            margin: 20px 0 0 31px;

            button {
               background-color: #FCB852;
               border-radius: 63px;
               width: 410.38px;
               height: 65.86px;
               font-family: 'montserrat', serif;
            }
         }

         .order-summary__delivery {
            display: flex;

            .order-summary__delivery-text {
               margin: 25px 0 0 29px;
            }

            .order-summary__delivery-price {
               margin: 17px 0 0 276px;
               font-weight: 600;
               font-size: 25px;

               span {
                  font-family: 'Montserrat', serif;
               }
            }

         }

      }

      .order {
         border-radius: 12px;
         background-color: #222222;
         padding-top: 19px;

         .order-price {
            display: flex;
            margin-bottom: 8px;
            padding: 12px 0 4px 19px;
            position: relative;

            h2 {
               font-size: 26px;
            }

            span {
               font-family: "Montserrat", serif;
            }

            .quantity-control {
               position: absolute;
               right: 3.8%;
               border: 1px solid #FFFFFF;
               border-radius: 20px;
               width: 98.68541717529297px;
               height: 32.44px;
               transform: translateY(-2px);

               .quantity-control__container {
                  position: relative;
                  width: 100%;
                  height: 100%;

                  img {
                     position: absolute;
                     top: 48%;
                     left: 11%;

                     &:last-child {
                        top: 32%;
                        left: 78%;
                     }
                  }

                  img:hover {
                     transition: transform 0.3s ease-in-out;
                     filter: brightness(0.5);
                     opacity: 0.8;
                     transform: rotate(-15deg);

                     &:last-child {
                        transform: rotate(15deg);
                     }
                  }

                  span {
                     position: absolute;
                     font-size: 14px;
                     top: 14%;
                     left: 45%;
                     font-family: 'Avenir Next Cyr';
                  }
               }
            }
         }

         .order-info {
            display: flex;
            justify-content: space-around;
            border-bottom: 1px solid #000000;

            .order-info__img {
               margin-left: 8px;
               width: 43.126px;
               height: 47.19px;
               background-color: #303030;
               border-radius: 4.26px;
               display: flex;
               justify-content: center;
               align-items: center;
            }

            .order-info__text {
               .order-info__text-title {
                  display: flex;
                  flex-wrap: wrap;
                  line-height: 0;
                  max-width: 270px;

                  h2 {
                     font-size: 18px;
                     margin-bottom: 0;

                     &:first-child {
                        margin-right: 3px;
                     }

                     &:nth-child(2) {
                        margin-right: 5px;
                     }

                     &:last-child {
                        transform: translateY(-4px);
                     }
                  }
               }

               p {
                  font-size: 13px;
                  margin-bottom: 13px;
                  transform: translateY(-2px);
               }
            }
         }

         .delete-icon {
            img {
               transition: transform 0.3s ease-in-out;
               cursor: pointer;
               margin: 0 6px 7px 0;
            }

            &:hover img {
               transform: scale(1.3);
            }
         }
      }

      .empty {
         color: #fff;
         text-align: center;
         padding: 20px;
      }
   }

   .basket {
      color: #fff;
      display: flex;
      cursor: pointer;
      flex-wrap: nowrap;
      align-items: center;
      width: 117px;
      height: 27px;
      border: 1px solid #FFFFFF;
      border-radius: 21px;
      box-sizing: border-box;
      margin-right: 13px;


      .basket__quantity {
         background-color: #D71515;
         height: 19px;
         width: 19px;
         border-radius: 50%;
         margin-left: 4px;
      }

      .basket__quantity div {
         font-size: 12px;
         font-weight: bold;
         text-align: center;
      }

      .basket__sum {
         margin: 0 auto
      }
   }
}

@media (max-width: 992px) {

   .wrapper {
      .navbar {
         .navbar-collapse {
            padding: 40px 0 20px 0;
            margin: 0;

            .navbar-nav {
               width: 100%;
               text-align: center;

               a {
                  transform: translateX(0) !important;
                  font-size: 24px;
                  font-weight: 600;
               }
            }
         }
      }

      .basket.menu-open {
         position: fixed;
         top: 120px;
         left: 50%;
         transform: translateX(-50%);
         z-index: 1000;
      }
   }

   @media (max-width: 768px) {
      .basket {
         position: fixed;
         bottom: 5%;
         right: 30px;
         z-index: 10;
         background-color: #000000;
      }

      .wrapper {
         .shop-cart {
            width: 100%;

            .cart-header {
               justify-content: center;
            }

            .order {
               max-width: 411px;
               margin: 0 auto;
            }

            .order-summary {
               left: 50%;
               transform: translateX(-50%);
            }
         }

         .navbar {
            .navbar-collapse {
               position: fixed;
               top: 114px;
               left: 0;
               right: 0;
               bottom: 0;
               width: 100%;
               height: 100vh;
               background-color: #000000;
               z-index: 1000;



               .contacts {
                  margin-bottom: 10px;

                  a {
                     color: #fff;
                     font-weight: 600;
                     font-size: 16px;
                     text-decoration: NONE;
                  }

                  .contacts__email {
                     a {
                        color: #F3BA4F;
                     }
                  }
               }

               .social-media {
                  display: flex;
                  justify-content: space-between;
                  margin: 0 auto;
                  max-width: 200px;
               }
            }

         }
      }
   }
}

@media (max-width: 470px) {
   .wrapper {
      .shop-cart {
         .cart-header {
            justify-content: space-around;

            img {
               margin-left: 0;
            }
         }

         .order {
            max-width: 90%;
            margin: 0 auto;

            .order-price {
               h2 {
                  font-size: 23px;
               }
            }

            .order-info {
               .order-info__img {
                  margin-left: 0;
                  margin-right: 5px;
               }

               .order-info__text {
                  text-align: center;

                  .order-info__text-title {
                     flex-direction: column;
                  }
               }
            }
         }

         .order-summary {
            width: 100%;

            .order-summary__button {
               margin: 20px auto 0 auto;

               button {
                  display: block;
                  margin: 0 auto;
                  width: 90%;
                  height: 65.86px;
               }
            }

            .order-summary__delivery {
               justify-content: space-around;
               text-align: center;

               .order-summary__delivery-text {
                  margin-left: 0;
               }

               .order-summary__delivery-price {
                  margin-left: 0;
               }
            }
         }
      }
   }
}