@mixin wh($width, $height) {
   width: $width;
   height: $height;
}

@mixin posa($in) {
   position: absolute;
   z-index: $in;
}

@mixin sbtn {
   top: 44.2%;
   cursor: pointer;
   @include posa(10);
}

@mixin text-styles($size, $weight, $translateX) {
   font-size: $size;
   font-weight: $weight;
   transform: translateX($translateX);
   font-family: "Montserrat", serif;
}

@mixin price-incart {
   color: #FFFFFF;
   @include posa(4);
   left: 38.4%;
   transition: opacity 0.3s ease;
}

@mixin plb($l, $b){
   left: $l;
   bottom: $b;
}

@mixin border-styles {
   border: 1px solid #FFFFFF;
   border-radius: 63px;
   padding: 5px 10px;
   width: 260px;
   height: 60px;
   left: 50%;
   transform: translateX(-50%);
}

@mixin centering {
   display: flex;
   justify-content: center;
   align-items: center;
}