.souceCard {
  background: #1d1d1d;
  border-radius: 25px;
  padding: 25px 20px;
  text-align: center;
  transition: 0.25s ease;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.35);

  display: flex;
  flex-direction: column;
  align-items: center;

  &:hover {
    transform: scale(1.04);
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.06);
  }

  img {
    width: 180px;
    height: 180px;
    object-fit: contain;
    margin-bottom: 15px;
  }

  h3 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
    color: white;
  }

  .weight {
    font-size: 15px;
    color: #aaa;
    margin-bottom: 8px;
  }

  .price {
    font-size: 20px;
    color: white;
    font-weight: 600;
    margin-top: auto;
  }
}
