@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "./components/Mixin.scss";

@font-face {
   font-family: 'Avenir Next Cyr';
   src: url('../src/fonts/AvenirNextCyr-Demi.eot'),
      url('../src/fonts/AvenirNextCyr-Demi.woff') format('woff'),
      url('../src/fonts/AvenirNextCyr-Demi.woff2') format('woff2'),
      url('../src/fonts/AvenirNextCyr-Demi.ttf') format('truetype');
   font-weight: 600;
   font-style: normal;
}

* {
   margin: 0;
   padding: 0;
}

.blur {
   position: relative;
   filter: blur(5px);
   transition: filter 0.3s ease;

   &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      pointer-events: none;
   }

   .sliderWrapper {
      background-color: #222222;
      position: relative;
      z-index: 2;
   }
}


@import "./components/Header.module.scss";