@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "./styles/Mixin.scss";

@font-face {
  font-family: "Avenir Next Cyr";
  src: url("./assets/fonts/AvenirNextCyr-Demi.eot");
  src: url("./assets/fonts/AvenirNextCyr-Demi.woff") format("woff"),
    url("./assets/fonts/AvenirNextCyr-Demi.woff2") format("woff2"),
    url("./assets/fonts/AvenirNextCyr-Demi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

.blur {
  position: relative;
  filter: blur(5px);
  transition: filter 0.3s ease;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
  }

  .sliderWrapper {
    background-color: #222222;
    position: relative;
    z-index: 2;
  }
}

html,
body,
#root {
  /* Важливо: встановлюємо висоту 100% для всіх батьківських елементів */
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  /* 1. Встановлюємо Flexbox на обгортці */
  display: flex;

  /* 2. Напрямок — колонка (згори вниз) */
  flex-direction: column;

  
  /* 3. Гарантуємо, що обгортка займає всю висоту вікна */
  min-height: 100vh; /* Використовуємо vh, щоб футер був внизу вікна */

  /* Додатково: видаліть будь-який padding/margin, який може заважати */
}

/* Створимо контейнер для всього вмісту між хедером і футером */
.content-area {
  /* 4. Це найважливіший крок: змушуємо область контенту зайняти весь доступний простір. */
  flex-grow: 1;
}

@import "./components/Header/Header.module.scss";
/* У вашому головному файлі стилів (наприклад, index.css або App.css) */
