@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "./styles/Mixin.scss";

@font-face {
  font-family: "Avenir Next Cyr";
  src: url("./assets/fonts/AvenirNextCyr-Demi.eot");
  src: url("./assets/fonts/AvenirNextCyr-Demi.woff") format("woff"),
    url("./assets/fonts/AvenirNextCyr-Demi.woff2") format("woff2"),
    url("./assets/fonts/AvenirNextCyr-Demi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

.blur {
  position: relative;
  filter: blur(5px);
  transition: filter 0.3s ease;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
  }

  .sliderWrapper {
    background-color: #222222;
    position: relative;
    z-index: 2;
  }
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  width: 1280px;
  margin: 0 auto;
  position: relative;
  height: 100%;
  flex-direction: column;
  min-height: 100vh;
}

.page-blur {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.content-area {
  flex-grow: 1;
}
